{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#     <link rel="stylesheet" type="text/css" href="../js/shiyan.js">#}
{#</head>#}
{#<body>#}
{#{% for user in data %}#}
{#<ul>#}
{#    <li>#}
{#        <button type="button" class="tj"><i#}
{#                                            class="icon-play"></i>{{ data }}#}
{#                                    </button>#}
{#    </li>#}
{#</ul>#}
{#{% endfor %}#}
{#<a></a>#}
{#</body>#}
{#</html>#}